/* Establecer el modelo de caja para incluir el padding y el borde en el ancho y alto */
* {
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* El cuerpo ocupa al menos el 100% del alto de la ventana */
    margin: 0; /* Eliminar el margen predeterminado */
}

/* Estilos para el encabezado */
.header {
    background-color: #ffb30057; /* Color de fondo con transparencia */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
    position: fixed; /* Encabezado fijo en la parte superior */
    width: 100%; /* Ancho completo */
    top: 0; /* Colocar en la parte superior */
}

/* Estilos para el contenido del encabezado */
.header-content {
    margin-left: 20px; /* Margen izquierdo */
}

/* Contenedor de las secciones */
.section-container {
    display: flex; /* Mostrar como un contenedor flexible */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 100px; /* Margen superior */
}

/* Estilos para las secciones */
section {
    flex: 1; /* Ocupar todo el espacio disponible */
    padding: 30px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Borde redondeado */
    max-width: 400px; /* Ancho máximo */
    margin: 30px; /* Margen externo */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos específicos para la sección de programar comida */
#mealSection {
    margin: 30px; /* Margen externo */
    height: 432px; /* Altura */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los títulos en la sección de programar comida */
#mealSection h4 {
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 20px; /* Margen inferior */
}

#mealSection div {
    margin-top: 20px;
}

/* Estilos para las etiquetas en la sección de programar comida */
#mealSection label {
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 5px; /* Margen inferior */
}

/* Estilos para los párrafos en la sección de programar comida */
#mealSection p {
    font-size: 18px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para los inputs de número y select en la sección de programar comida */
#mealSection input[type="number"],
#mealSection select {
    width: 100%; /* Ancho completo */
    padding: 8px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
    border-radius: 5px; /* Borde redondeado */
    border: 1px solid #ccc; /* Borde */
}

/* Estilos para el botón de registrar */
.btn-registrar {
    margin-top: 20px; /* Margen superior */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #996f31; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-registrar:hover {
    background-color: #805228; /* Cambiar color de fondo al pasar el mouse */
}

/* Estilos para el contenedor del footer */
.footer-container footer {
    background-color: #00000038; /* Color de fondo con transparencia */
    color: #fff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los iconos sociales */
.social-icons {
    list-style: none; /* Quitar la viñeta de la lista */
    padding: 0; /* Quitar el relleno */
    margin: 0; /* Quitar el margen */
}

.social-icons li {
    display: inline-block; /* Mostrar en línea */
    margin: 0 10px; /* Margen izquierdo y derecho */
}

.social-icons a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
    font-size: 20px; /* Tamaño de fuente */
}

.social-icons a img {
    width: 30px; /* Ancho */
    height: auto; /* Altura automática */
}

/* Estilos para el cuadro emergente */
.popup {
    position: fixed; /* Posición fija */
    top: 50%; /* Posición en la mitad superior */
    left: 50%; /* Posición en la mitad izquierda */
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    background-color: rgba(94, 61, 31, 0.356); /* Color de fondo con transparencia */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 999; /* Z-index para colocarlo por encima del resto del contenido */
    display: none; /* Ocultar por defecto */
}

/* Estilos para el input de tamaño de comida */
input#mealSize {
    width: 60px; /* Ancho */
    padding: 5px; /* Espaciado interno */
}
